@font-face {
	    font-family:montserratb;
	        src: url("https://c3quest.fun/static/Montserrat-Black.otf");
	}
@font-face {
	    font-family:montserratl;
	        src: url("https://c3quest.fun/static/Montserrat-Light.otf");
	}
body {
    background-color: black;
    font-family: montserratl;
    color:rgb(0,163,86);
    width=60%;
    padding-left:20%;
    }

h1, p ,.by{
    font-family: montserratl;
    font-size: 40px;
    background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.03, rgb(0,132,176)),
    color-stop(0.76, rgb(0,163,86)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a{

    	font-family: montserratl;
	color:rgb(77,77,76);
	font-size:40px;
}
h1{

    font-family: montserratb;
    font-size:70px;
    pdadding-buttom:70px;
}
.by{
	float:right;
	width:60%
}
input, textarea {

    font-family: montserratl;
    font-size: 40px;
    margin: 0px;
    width: 60%;
    background-color: #101010;
    color:rgb(0,153,86); 
    border: 3px solid #777776;
}
@font-face {
  font-family: 'MyWebFonta';
  src: url('/Anton.ttf') ;
  font-stretch: ultra-condensed;

}
button{
    letter-spacing: 0px;
    color:black;
    font-size: 40px;
    font-family: montserratb;
    background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.03, rgb(0,132,176)),
    color-stop(0.76, rgb(0,163,86)));
    word-spacing: 10px;

    border:0px;
 
}





